.main_btn {
  display: inline-block;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  padding: 16px 36px;
  text-transform: uppercase;
  transition: all linear 0.3s;
}

.main_btn:hover {
  background-color: var(--primary-color);
  color: var(--sada);
  cursor: pointer;
}
