@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --primary-color: #cbb58b;
  --second-color: #665c7c;
  --sada: #ffff;
  --kala: black;
  --footer-color: #2d2d2d;
  --off-white: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Lora", serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
}

/* banar slider */
.b_slider_1 {
  background: url(../public/images/slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.b_slider_2 {
  background: url(../public/images/slider-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.b_slider_3 {
  background: url(../public/images/slider-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slick-next {
  right: 0;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
